<nav class="navbar navbar-expand-lg navbar-tempest">

  <!--Logo-->
  <a class="navbar-brand" href="#">
    <img src="src\assets\images\Tempest-logo.png" width="35" height="35" class="d-inline-block align-top" alt="Tempest" style="background-color: white; border-radius: 5px;">
  </a>

  <!--Links-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="{{ homeActive ? navActive : navNonActive }}">
        <a routerLink="/dashboard" class="nav-link">Home</a>
      </li>

      <li class="{{ productActive ? navActive : navNonActive }}">
        <a routerLink="/products" class="nav-link">Products</a>
      </li>

      <li class="{{ promotionActive ? navActive : navNonActive }}">
        <a routerLink="/promotion" class="nav-link">Promotions</a>
      </li>
    </ul>

    <!--Registration Links-->
    <ul class="nav navbar-nav navbar-tempest-right">
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link">Sign up</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">Log in</a>
      </li>
    </ul>

  </div>
</nav>
