<app-navbar></app-navbar>

<br>

<div class="container">
  <div class="row">
    <div class="col shadow-sm p-4 mb-5 bg-white" style="border-radius: 10px; margin-left: 20px;">
      <h2> New Product </h2>

      <br>

      <br>

      <form autocomplete="off" (ngSubmit)="onSubmit()" #createProductForm="ngForm">

        <!--Product Name-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input type="text" class="form-control" id="name"
           required name
           [(ngModel)]="model.name" name="name"
           #name="ngModel">
        </div>

        <!--Product Description-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
          </div>
          <input type="text" class="form-control" id="description"
           required description
           [(ngModel)]="model.description" name="description"
           #description="ngModel">
        </div>

        <!--Product Price-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Price</span>
          </div>
          <input type="number" class="form-control" id="price"
           required price
           [(ngModel)]="model.price" name="price"
           #price="ngModel">
        </div>

        <!--Product Image-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Image</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="imageFile"
             required imageFile
             [(ngModel)]="model.imageFile" name="imageFile"
             #imageFile="ngModel">
            <label *ngIf="model.imageFile == blank" class="custom-file-label" for="imageFile"> Choose File </label>
            <label *ngIf="model.imageFile != blank" class="custom-file-label" for="imageFile"> {{ model.imageFile }}</label>
          </div>
        </div>

        <!--Submit Button-->
        <button [disabled]="!createProductForm.form.valid" type="submit" class="btn btn-success">Submit</button>

      </form>
    </div>
  </div>
</div>
