<!--Navbar-->
<app-navbar [productActive]="true"></app-navbar>

<br>

<div class="container">
  <div clas="row">
    <label style="margin-right: 10px;"><b>Category</b></label>
    <select class="btn-green">
      <option value="all" class="dropdown-option">All</option>
      <option value="saab" class="dropdown-option">Saab</option>
      <option value="mercedes" class="dropdown-option">Mercedes</option>
      <option value="audi" class="dropdown-option">Audi</option>
    </select>
    <label style="margin-left: 20px; margin-right: 10px;"><b>Sort by</b></label>
    <select class="btn-green">
      <option value="none" class="dropdown-option">No Sorting</option>
      <option value="best" class="dropdown-option">Best Sellers</option>
      <option value="new" class="dropdown-option">New Additions</option>
    </select>
  </div>

  <br>

  <div class="row">
    <div class="col shadow-sm p-4 mb-5 bg-white" style="border-radius: 10px; margin-left: 20px;">
      <div class="col-4" style="display: inline-block;" *ngFor="let product of getPageProducts()">
        <app-productcard [product]="product">
        </app-productcard>
        <br>
      </div>
    </div>
  </div>

  <app-pagination [maxDisplay]="10" [totalPages]="pages" (goPrev)="goToPrev($event)" (goNext)="goToNext($event)" (goPage)="goToPage($event)">
  </app-pagination>
</div>
