<div class="svg-background">
  <div class="container">
    <div class="row match-parent align-items-center">
      <div class="col">
      </div>
      <div class="col">
        <div class='jumbotron'>
          <img src ="src/assets/images/Tempest-logo.png" class="img-center"/>
          <br>
          <div class="btn-center">
            <a routerLink="/dashboard" class="btn-green btn-lg" href="#" role="button">Enter</a>
            <a routerLink="/signup" class="btn-green btn-lg" style="margin-left: 10px; margin-right: 10px;" role="button">Sign Up</a>
            <a routerLink="/login" class="btn-green btn-lg" role="button">Log In</a>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
